    /* FOOTER*/ 

.mainFooter {
    width: 100%;
    background-color: $primary;

    .mainFooter__group-1 {
        @include grid (3, 0);
        width: 100%;
        max-width: 1200px;
        margin: auto;
        grid-gap: 5rem;
        padding-top: 4.5rem;
        margin-bottom: $spacing-xsmall;

        .group-1__box {

            figure {
                width: 100%;
                height: 100%;
                @include flex (row, center, center);
                img {
                    width: 20rem;
                }
            }

            h2 {
                color: $secondary;
                margin-bottom: 2.5rem;
                font-size: $text-medium;
            }

            p {
                color: $light-color;
                margin-bottom: 1rem;
            }

            .box__redSocial a {
                display: inline-block;
                text-decoration: none;
                width: 4.5rem;
                height: 4.5rem;
                line-height: 4.5rem;
                font-size: 2.5rem;
                margin-right: 1rem;
                background-color: rgb(29, 28, 28);
                text-align: center;

                .iconify {
                    color: $light-color;
                    transition: all 1s;

                    &:hover {
                        transform: scale(2, 2);
                        color: $dark-yellow;
                    }
                }
            }
        }
    }
    .mainFooter__group-2 {
        background-color: rgb(29, 28, 28);
        padding: 1.5rem 1rem;
        text-align: center;
        color: $secondary;
        grid-column: 1/4;
        small {
            font-size:$text-small;
        }
    }
}