/* NOVEDADES */ 
.aboutUs {
    background-color: #F1F1F1;
    margin-bottom: 25rem;
    .aboutUs__tittle {
        font-size: 2.1rem;
        text-align: center;
        padding: 8rem 0;
        text-decoration: overline;
    }
    .accordion {
        max-width: 50rem;
        margin: auto;
        .accordion-item {
            .accordion-header {
                .accordion-button {
                    font-size: 1em;
                    color: #f9c846;
                    background-color: #333533;
                }
            }
        }
        .accordion-body {
                color: $dark-text-color;
                font-size: $text-xsmall;
        }
    }
}