/* NOVEDADES */ 
.aboutUs {
    background-color: $base;
    margin-bottom: 25rem;

    .aboutUs__tittle {
        text-align: center;
        padding: $spacing-large 0;
        text-decoration: overline;
    }

    .accordion {
        max-width: 75rem;
        margin: auto;

        .accordion-item {

            .accordion-header {

                .accordion-button {
                    font-size: 1.4em;
                    color: $dark-yellow;
                    background-color: $dark-color;
                }
            }
        }

        .accordion-body {
                color: $dark-color;
                font-size: 1.5em;
        }
    }
}