/* NOVEDADES */ 
.news {
    background-color: $base;

    .news__tittle {
        text-align: center;
        padding: $spacing-small 0;
    }

    .news__new {
        padding-bottom: 5rem;
        max-width: 900px;

        .new__office {
            @include flex (column, flex-start, center);

            img {
                max-width: 40rem;
                max-height: 300px;
                border-radius: 5px;
                border-style: hidden;
                margin:$spacing-small 0;
            }

            .office__tittle {
                text-align: center;
                padding: $spacing-xsmall 0;
            }

            .office__description {

                p {
                    color: $dark-color;
                    font-size: $text-small;
                    max-width: 80rem;
                    text-align: center;
                    padding-bottom: $spacing-small;
                    margin-bottom: 0;
                }

                a {
                    color: $alternative;
                    font-weight: bold;
                    transition: all 1.1s;
                    &:hover {
                        background-color: $dark-color;
                        padding: 5px 1rem;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}







