/* NOVEDADES */ 
.news {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;

    .news__tittle {
        font-size: 2.1rem;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .news__new {
        padding-bottom: 5rem;
        max-width: 900px;

        .new__office {
            border-radius: 1rem;
            border-style: solid;
            border-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .office__img {
                img {
                    max-width: 40rem;
                    max-height: 300px;
                    border-radius: 5px;
                    border-style: hidden;
                    margin:$spacing-small 0;
                }
            }

            .office__tittle {
                text-align: center;
                font-size: 1.6rem;
                padding: $spacing-xsmall 0;
            }

            .office__description {

                p {
                    color: #525252;
                    font-size: 1.3rem;
                    max-width: 80rem;
                    text-align: center;
                    padding-bottom: 4rem;
                }

                a {
                    color: $alternative;
                    font-weight: bold;
                    transition: all 1.1s;
                    &:hover {
                        background-color: #525252;
                        padding: 5px 1rem;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}







