/* NOVEDADES */ 
.news {
    background-color: $base;
    display: flex;
    flex-direction: column;

    .news__tittle {
        font-size: $text-xlarge;
        text-align: center;
        padding-top: $spacing-medium;
        padding-bottom: $spacing-small;
    }

    .news__new {
        padding-bottom: 5rem;
        max-width: 900px;

        .new__office {
            border-radius: 1rem;
            border-style: solid;
            border-color: $primary;
            display: flex;
            flex-direction: column;
            align-items: center;
            

            img {
                max-width: 40rem;
                max-height: 300px;
                border-radius: 5px;
                border-style: hidden;
                margin:$spacing-small 0;
            }

            .office__tittle {
                text-align: center;
                font-size: $text-medium;
                padding: $spacing-xsmall 0;
            }

            .office__description {

                p {
                    color: $dark-color;
                    font-size: $text-small;
                    max-width: 80rem;
                    text-align: center;
                    padding-bottom: $spacing-small;
                }

                a {
                    color: $alternative;
                    font-weight: bold;
                    transition: all 1.1s;
                    &:hover {
                        background-color: $dark-color;
                        padding: 5px 1rem;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}







