    /*VARIABLES*/
    /* Colors */
    $primary: black;
    $secondary: #F4D35E;
    $dark-yellow: #f9c846;
    $dark-color: #525252;
    $light-color: #efefef;
    $base: #F1F1F1;
    $alternative: #DBA159;

    /* Spacings */
    $spacing-xlarge: 10rem;
    $spacing-large: 8rem;
    $spacing-medium: 6rem;
    $spacing-small: 4rem;
    $spacing-xsmall: 2rem;

    /* Font Family */ 
    $font-principal: 'Poppins', sans-serif;
    $font-secondary: 'Raleway', sans-serif;

    /* Font-Sizes */
    $text-xlarge: 4.5em;
    $text-large: 3em;
    $text-medium: 2em;
    $text-small: 1.6em;
    $text-xsmall: 1.2em;
