    /*VARIABLES*/
    /* Colors */
    $primary: black;
    $secondary: #F4D35E;
    $dark-text-color: #525252;
    $light-text-color: #efefef;
    $base: #F1F1F1;
    $alternative: #DBA159;

    /* Spacings */
    $spacing-xlarge: 10rem;
    $spacing-large: 8rem;
    $spacing-medium: 6rem;
    $spacing-small: 4rem;
    $spacing-xsmall: 2rem;

    /* Spacings-With-Map */
    $spacings:(
        spacing-xlarge: 10rem,
        spacing-large: 8rem,
        spacing-medium: 6rem,
        spacing-small: 4rem,
        spacing-xsmall: 2rem
    );
    
    @each $key, $val in $spacings {
        .#{$key} {
            padding-bottom: #{$val};
        }
    }

    /* Font Family */ 
    $font-principal: 'Poppins', sans-serif;
    $font-secondary: 'Raleway', sans-serif;

    /* Font-Sizes */
    $text-xlarge: 5.2em;
    $text-large: 3em;
    $text-medium: 2.2em;
    $text-small: 1.5em;
    $text-xsmall: 1.2em;
